@model IEnumerable<Mantenimiento.Models.Articulo>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    
</div>


<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class="card img-rounded">
                    <div class="card img-rounded text-center">
                        <div class="card-header text-center">
                            <h3 class="col-sm-12">Catalogo de Articulos</h3>
                        </div>
                        <div class="card-body text-center">
                            <img src="~/Images/Mesa.jpg" width="200" height="180" />
                            <div class="card-footer">
                                <div class="col-sm-12 text-center">
                                    <p class="card-text"> Aqui encontraras todo lo que necesites para sus necesidedades dentro de tu restaurante.</p>
                                    <p>@Html.ActionLink("Catalogo", "ListaArticulos", null, new { @class = "btn btn-success" })</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <div class="card img-rounded">
                    <div class="card img-rounded text-center">
                        <div class="card-header text-center">
                            <h3 class="col-sm-12">Catalogo de Articulos</h3>
                        </div>
                        <div class="card-body text-center">
                            <img src="~/Images/Loza.jpg" width="200" height="180" />
                            <div class="card-footer">
                                <div class="col-sm-12 text-center">
                                    <p class="card-text"> Aqui encontraras todo lo que necesites para sus necesidedades dentro de tu restaurante.</p>
                                    <p>@Html.ActionLink("Catalogo", "ListaArticulos", null, new { @class = "btn btn-success" })</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

        <div class="col-sm-4">
            <div class="form-group">
                <div class="card img-rounded">
                    <div class="card img-rounded text-center">
                        <div class="card-header text-center">
                            <h3 class="col-sm-12">Catalogo de Articulos</h3>
                        </div>
                        <div class="card-body text-center">
                            <img src="~/Images/Molino.jpg" width="200" height="180" />
                            <div class="card-footer">
                                <div class="col-sm-12 text-center">
                                    <p class="card-text"> Aqui encontraras todo lo que necesites para sus necesidedades dentro de tu restaurante.</p>
                                    <p>@Html.ActionLink("Catalogo", "ListaArticulos", null, new { @class = "btn btn-success" })</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
