@model IEnumerable<Mantenimiento.Models.Articulo>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Catalogo de Articulos</h2>



<div class="container mt-4">
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-sm-4">
            <div class="form-group">
                <div class="card img-rounded">
                    <div class="card-header text-center">
                        <h3 class="col-sm-12">@Html.DisplayFor(modelItem => item.Nombre)</h3>
                    </div>
                    <div class="card-body text-center" >
                        <i class="glyphicon glyphicon-usd font-family:Arialfont-family:Arial">@Html.DisplayFor(modelItem => item.Precio)</i>
                        <img src="~/Images/@item.Imagen" width="200" height="180" />
                    </div>
                    <div class="card-footer">
                        <div class="col-sm-12">
                        <label>@Html.DisplayFor(modelItem => item.Descripcion)</label>
                        </div>
                        <div class="col-sm-12 text-center">
                            <a class="btn btn-primary glyphicon glyphicon-plus"> Agregar al carrito</a>
                            @Html.ActionLink(" Rentar", "RentarArticulo", new { id = item.ArticuloID }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-shopping-cart" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
                 }
                </div>
            </div>

   